<!--DOCTYPE Html-->
<head>
    <meta charset="utf-8">
</head>

<body>
    <h1 style="">Pâte brisée vite fait</h1>

    <img src="img/pâte_brisée.jpg">

    <table>
        <tr>
            <th>Temps</th>    
            <th>Difficulté</th>
            <th>Coût</th>
        </tr>
        <tr>
            <td>45 min</td>
            <td>Facile</td>
            <td>Environs 1€</td>
        </tr>   
    </table>

    <h2>Ingrédients</h2>
    <ul>
        <li><img src="img/farine.jpg" alt="image de farine">300 g de farine</li>
        <li><img src="img/beurre.jpg" alt="image de beurre">150 g de beurre en dés et en pommade</li>
        <li><img src="img/sel.jpg" alt="image de sel">1/2 cuillère à café de sel</li>
        <li><img src="img/sucre.jpg" alt="image de sucre">3 cuillères à soupe de sucre (si pâte sucrée)</li>
        <li><img src="img/lait.jpg" alt="image de lait">8 cl d'eau ou de lait tiède</li>
    </ul>

    <h2>Préparation</h2>

    <span><strong>Préparation:</strong> 15 min</span>
    <span><strong>Cuisson:</strong> 15 min</span>

    <ol>
        <li>Etape 1</li>
        <p>Mélanger la farine et le <a href=https://www.marmiton.org/focus-ingredient/sel-s3072478.html>sel</a> dans un plat (et le <a href=https://www.marmiton.org/focus-ingredient/comment-choisir-son-sucre-s3012082.html>sucre</a> si sucre il y a).</p><div class=""></div>
        <li>Etape 2</li>
        <p>Ajouter le <a href=https://www.marmiton.org/recettes/index/ingredient/beurre>beurre</a> puis l'incorporer à la farine en pétrissant rapidement et légèrement du bout des doigts. On doit obtenir une sorte de semmoule grossière en 2 ou 3 min.</p>
        <li>Etape 3</li>
        <p>Incorporer rapidement le lait ou l'eau. il en faut très peu pour permettre à à la pâte des se lier et de faire boule. Le lait ou l'eau ? C'est selon les goûts.</p>
        <li>Etape 4</li>
        <p>Pour étaler sans problème, étaler la pâte sur du papier cuisson et cuire tel quel dans la platine.</p>
    </ol>

    <p>
    <strong>Note de l'auteur</strong></br>
    Attention : Le beurre doit être sorti du frigo 3 heures avant, ou alors passez-le 1 min à puissance minimum au micro-onde. Il ne doit PAS être fondu mais en pommade.
    Eviter de garder la pâte au frigo, car elle durcit. Sinon, un passage au micro-ondes à basse puissance donne de bons résultats.
    </p>

    <p>
        <strong>J'ajoute mon grain de sel</strong></br>
        Nom : .......</br>
        Prénom: .........</br>
        Email : ............</br>
        Commentaire: </br>
        .....</br>
        .....</br>
        <strong>Envoyer</strong>
    </p>

</body>
<nav></nav>
<footer></footer>